Repository admariner/promscale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timescale/o11y-eng, @jgpruitt, @antekresic, @niksajakovljevic, @cevian, @VineethReddy02, @paulfantom, @JamesGuthrie

.github/CODEOWNERS:

* @timescale/o11y-eng

# sql related stuff
*.sql @jgpruitt

# Go packages
/pkg/api @antekresic
/pkg/ha @antekresic
/pkg/internal @antekresic
/pkg/migrations/ @jgpruitt
/pkg/pgmodel/ingestor @niksajakovljevic @antekresic
/pkg/runner @antekresic
/pkg/tests/test_migrations/ @jgpruitt
/pkg/tests/testdata/ @jgpruitt
/pkg/tests/upgrade_tests/ @jgpruitt

# helm and kubernetes related parts
/helm-chart/ @cevian @VineethReddy02 @paulfantom @JamesGuthrie
/deploy/static/ @cevian @VineethReddy02 @paulfantom @JamesGuthrie

reorganizing a bit to prep for refactor
  pkg/pgmodel/creator_interface.go
  pkg/pgmodel/migrate.go
  pkg/pgmodel/new_migrate.go
  pkg/runner/client.go
Owners: @timescale/o11y-eng, @antekresic

fixed broken tests
  pkg/tests/end_to_end_tests/main_test.go
  pkg/tests/upgrade_tests/upgrade_test.go
Owners: @timescale/o11y-eng, @jgpruitt

cannot set PrevReleaseVersion to 0.10.0 until it is released. tests fail b/c there is no docker image at that version yet
  pkg/version/version.go
Owners: @timescale/o11y-eng

removing unused parameter promMetrics
  pkg/runner/client.go
  pkg/runner/runner.go
  pkg/tests/end_to_end_tests/migrate_test.go
  pkg/tests/end_to_end_tests/telemetry_test.go
Owners: @antekresic, @timescale/o11y-eng

reworked CheckDependencies and CheckSchemaVersion now that the prom_schema_migrations table will not exist and the extension is required
  pkg/pgmodel/common/extension/extension.go
  pkg/pgmodel/new_migrate.go
  pkg/runner/client.go
  pkg/tests/end_to_end_tests/migrate_test.go
Owners: @timescale/o11y-eng, @antekresic

fixing broken test. CreateClient should return an error if the ext is not installed and the connector does not install it
  pkg/tests/end_to_end_tests/migrate_test.go
Owners: @timescale/o11y-eng

deploy/helm: fix order of templating
  CHANGELOG.md
  deploy/helm-chart/templates/deployment-promscale.yaml
Owners: @timescale/o11y-eng

new migration logic
  pkg/pgmodel/migrate.go
  pkg/pgmodel/new_migrate.go
Owners: @timescale/o11y-eng

new logic in place
  pkg/pgmodel/new_migrate.go
Owners: @timescale/o11y-eng

code clarification
  pkg/pgmodel/new_migrate.go
Owners: @timescale/o11y-eng

Apply suggestions from code review
  pkg/pgmodel/new_migrate.go
Owners: @timescale/o11y-eng

make sure a supported version of the extension is available before attempting a migration
  pkg/pgmodel/common/extension/extension.go
  pkg/pgmodel/new_migrate.go
  pkg/version/version.go
Owners: @timescale/o11y-eng

removing pgmodel.CheckDependencies and calling extension.CheckVersions instead
  pkg/pgmodel/new_migrate.go
  pkg/runner/client.go
  pkg/tests/end_to_end_tests/migrate_test.go
Owners: @timescale/o11y-eng, @antekresic

removed CheckPromscaleExtInstalledVersion
  pkg/pgmodel/new_migrate.go
  pkg/runner/client.go
Owners: @timescale/o11y-eng, @antekresic

remove ExtensionIsInstalled global
  pkg/pgmodel/common/extension/extension.go
  pkg/pgmodel/new_migrate.go
  pkg/pgmodel/querier/query_builder.go
  pkg/tests/end_to_end_tests/migrate_test.go
Owners: @timescale/o11y-eng

'Refactored by Sourcery'
  misc/tracegen.py
Owners: @timescale/o11y-eng
